.task-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.task-input {
    width: 350px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 8px 16px; 
    border-radius: 5px 0 0 5px;
    outline: none;
    border: none;
    height: 40px; 
    box-sizing: border-box; 
}

/*boton*/
.task-button {
    padding: 8px 16px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: aliceblue;
    height: 40px; 
    box-sizing: border-box;
    text-transform: capitalize;
}
